<div class="container center-align">
  <div class="card  deep-orange darken-1">
    <div class="card-content white-text">
      <span class="card-title">{{ job.title }}</span>
      <span class="white-text">Job status:</span>
      <span
        class="badge white-text {{ generateColor(job.state) }}">{{ job.state === null ? "Pending" : job.state }}</span>
      <p class="white-text">Valid until: {{ job.valid_until }}</p>
    </div>
    <div class="card-action primary">
      <a class="waves-button-input white-text" routerLink="/job-details/{{ job.id }}">Read more</a>
    </div>
  </div>
</div>
