<form [formGroup]="registerForm" (ngSubmit)="(register)">
  Name: <input type="text" formControlName="name" /> <br />
  Email: <input type="text" formControlName="email" /> <br />
  Password: <input type="password" formControlName="password" /> <br />
  Confirm password: <input type="password" formControlName="password_confirmation" /> <br />
  Role:
  <select formControlName="role_id">
    <option *ngFor="let role of roles" value="{{ role.id }}">{{ role.name }}</option>
  </select>
  <br />
  <button [disabled]="!registerForm.valid" type="submit">Register</button>
</form>
