<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Softwarehaus project</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/create-job">Post a job</a></li>
      <li><a routerLink="/jobs">List jobs</a></li>
      <li><a routerLink="/auth/logout">Logout</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>


<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Angular</h5>
        <a class="grey-text text-lighten-3" href="https://github.com/CerealKiller97/Job-Project-Front">
          <img class="icons" id="ng-icon" src="../../../../assets/svg/angular.svg" alt="Angular logo" />
        </a>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Laravel</h5>
        <a class="grey-text text-lighten-3" href="https://github.com/CerealKiller97/Job-Project-API">
          <img class="icons" src="../../../../assets/svg/laravel.svg" alt="Laravel logo" />
        </a>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <p>© 2019 Copyright Stefan Bogdanović</p>
    </div>
  </div>
</footer>
