<div class="wrapper" *ngIf="jobs.length !== 0; else noJobs">
  <div class="container">
    <div class="row">
      <div class="col l12">
        <app-job-card *ngFor="let job of jobs" [job]="job">
        </app-job-card>
      </div>
    </div>
  </div>
</div>


<ng-template #noJobs>
  <h1>No jobs posted!</h1>
</ng-template>

<!--<div *ngIf="jobs !== null; else loggedOut">-->
<!--  Welcome back, friend.-->
<!--</div>-->

<!--<ng-template #loggedOut>-->
<!--  Please friend, login.-->
<!--</ng-template>-->
