/* You can add global styles to this file, and also import other style files */

:root {
  --primary: #00b8d4;
  --error: #b71c1c;
  --success:#00e676;
  --warning: #fbc02d;
}

body {
  font-family: 'Montserrat', sans-serif !important;
  display: flex !important;
  min-height: 100vh !important;
  flex-direction: column !important;
}

main {
  flex: 1 0 auto !important;
}

input[type=text]:not(.browser-default).validate+label {
  //color: var(--primary) !important;
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
  //border-bottom: var(--primary) !important;
}

.error {
  background-color: var(--error) !important;
}

.primary {
  background-color: var(--primary) !important;
}

.error-text {
  color: var(--error) !important;
}

.success {
  background-color: var(--success) !important;
}

.warning {
  background-color: var(--warning) !important;
}

.icons {
  margin-left: 25px !important;
  width: 40px !important;
  height: 40px !important;
}

.page-footer {
  background-color: var(--primary) !important;
  position: fixed !important;
  bottom: 0 !important;
  width: 100% !important;
}

nav {
  background-color: #00b8d4 !important;
}

