/* You can add global styles to this file, and also import other style files */

:root {
  --primary: #00b8d4;
  --error: #b71c1c;
}

body {
  font-family: 'Montserrat', sans-serif !important;
  display: flex !important;
  min-height: 100vh !important;
  flex-direction: column !important;
}

main {
  flex: 1 0 auto !important;
}

input[type=text]:not(.browser-default).validate+label {
  //color: var(--primary) !important;
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
  //border-bottom: var(--primary) !important;
}

.error {
  background-color: var(--error) !important;
}
